# Built files
*.apk
*.aar
*.ap_
*.aab

# Gradle files
.gradle/
build/
app/build/

# Local configuration file
local.properties

# IDE files
.idea/
*.iml

# Keystore files
*.jks
*.keystore

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Others
*.log
*.swp
.DS_Store